.nav {
    display: flex;
    gap: 70px;
}

ul {
    list-style: none;
}

.contact {
    display: flex;
    gap: 30px;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: hsl(0, 0%, 78%);
    height: 50px;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(87, 87, 255);
    font-family: sans-serif;
}

img {

}

.techskill,
h1,
h2,
img,
p {
    margin-left: 600px;
    font-family: sans-serif;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: hsl(0, 0%, 78%);
    margin-top: 60px;
    height: 50px;
    align-items: center;
}

* {
    margin: 0;
}

h1 {
    margin-top: 100px;
    margin-bottom:50px ;
}
